<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @volunteer.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @volunteer.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @volunteer.email %>
</p>

<p>
  <b>Student name1:</b>
  <%= @volunteer.student_name1 %>
</p>

<p>
  <b>Student name2:</b>
  <%= @volunteer.student_name2 %>
</p>

<p>
  <b>Student name3:</b>
  <%= @volunteer.student_name3 %>
</p>

<p>
  <b>Grade1:</b>
  <%= @volunteer.grade1 %>
</p>

<p>
  <b>Grade2:</b>
  <%= @volunteer.grade2 %>
</p>

<p>
  <b>Grade3:</b>
  <%= @volunteer.grade3 %>
</p>

<p>
  <b>Day available:</b>
  <%= @volunteer.day_available %>
</p>

<p>
  <b>Weekly shopper:</b>
  <%= @volunteer.weekly_shopper %>
</p>

<p>
  <b>Computer lab:</b>
  <%= @volunteer.computer_lab %>
</p>

<p>
  <b>Fundraising committee:</b>
  <%= @volunteer.fundraising_committee %>
</p>

<p>
  <b>Office volunteer:</b>
  <%= @volunteer.office_volunteer %>
</p>

<p>
  <b>School closing committee:</b>
  <%= @volunteer.school_closing_committee %>
</p>

<p>
  <b>Room parent:</b>
  <%= @volunteer.room_parent %>
</p>

<p>
  <b>School newsletter:</b>
  <%= @volunteer.school_newsletter %>
</p>

<p>
  <b>Special event:</b>
  <%= @volunteer.special_event %>
</p>

<p>
  <b>Hebrew tutor:</b>
  <%= @volunteer.hebrew_tutor %>
</p>

<p>
  <b>Other:</b>
  <%= @volunteer.other %>
</p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
